extends layout/layout

block content
  main.main
    h2 Title
    hr
    p paragraph
    img(src="img/forest.jpg")
    ul.items
      li.items__t
      li.items__t
      li.items1__t
    //- и другие блоки
